body {
  width: 1160px;
  margin: 10px auto;
}
.margin--std, .ui.card {
  margin: 10px;
}
.flex, .ui.input.flex {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}